#{extends 'main.html' /}
#{set title:'Formulário de Vendedor' /}

<div class="container">
    <h2 style="margin-left: 35%; margin-top: 1%;">Cadastro de Vendedor</h2>

    <form action="@{Vendedores.salvar}" method="post">

        <label class="form-label">Nome</label>
        <input type="text" name="ven.nome" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">Endereço</label>
        <input type="text" name="ven.endereco" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">Número - (xx) xxxxx-xxxx</label>
        <input type="int" name="ven.numero" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">CPF - (xxx.xxx.xxx-xx)</label>
        <input type="int" name="ven.numero" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">E-mail</label>
        <input type="text" name="ven.email" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label" for="exampleInputPassword1">Senha</label>
        <input type="password" name="ven.senha" for="exampleInputPassword1" class="form-control shadow-sm"></input>
        <br/>

        <input type="submit" class="btn btn-success"></input>
    </form>
</div>