#{extends 'main.html' /}
#{set title:'Cadastro de Livros' /}
<div class="container">
<h2 style="margin-left: 35%; margin-top: 2%;">Cadastro de Livros</h2>

    <form action="@{Livros.salvar}" method="post">
        <input type="hidden" name="li.id" value="${book?.id}" /><br />

        <label class="form-label">Título</label>
        <input type="text" name="li.titulo" class="form-control shadow-sm" value="${book?.titulo}"></input>
        <br/>

        <label class="form-label">Descrição do Livro</label>
        <textarea type="text" name="li.desc" rows="4" cols="20" class="form-control shadow-sm" >${book?.desc}</textarea>
        <br/>

        <label class="form-label">Autore</label>
        <input type="text" name="li.autore" class="form-control shadow-sm" value="${book?.autore}"></input>
        <br/>

        <label class="form-label">Estoque</label>
        <input type="int" name="li.estoque" class="form-control shadow-sm" value="${book?.estoque}"></input>
        <br/>

        <input type="submit" value="${book ? 'Editar':'Cadastrar'}" class="btn btn-success"/>
    </form>
</div>
    