#{extends 'main.html' /}
#{set title:'Formulário de Cliente' /}

<div class="container">
    <h2 style="margin-left: 35%; margin-top: 2%;">Cadastro de Cliente</h2>

    <form action="@{Clientes.salvar}" method="post">

        <label class="form-label">Nome</label>
        <input type="text" name="cli.nome" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">Endereço</label>
        <input type="text" name="cli.endereco" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">Número</label>
        <input type="int" name="cli.numero" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label">E-mail</label>
        <input type="text" name="cli.email" class="form-control shadow-sm"></input>
        <br/>

        <label class="form-label" for="exampleInputPassword1">Senha</label>
        <input type="password" name="cli.senha" for="exampleInputPassword1" class="form-control shadow-sm"></input>
        <br/>

        <input type="submit" class="btn btn-success"></input>
    </form>
</div>